<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello Express</h1>
    <p>express framework 입니다.</p>
    <h1>사용자정보</h1>
    <h3><%=name%></h3>
    <h3><%=age%></h3>
</body>
</html>